<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUKDE7mbtlvSNGnTj5PRuo9LbFk8T2h6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>75413264619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.binarybandits</string>
	<key>PROJECT_ID</key>
	<string>eat-easy-binban</string>
	<key>STORAGE_BUCKET</key>
	<string>eat-easy-binban.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75413264619:ios:dbc9427385a7bb795446ae</string>
</dict>
</plist>